:root {
  --dark-blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
* {
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}
nav {
  width: 100vw;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header {
  background-color: white;
  width: 100%;
}
.logos {
  margin-left: 30px;
}
.burgers {
  margin-right: 50px;
}
.images {
  height: 17.5rem;
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.images::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("./images/image-mockups.png");
  position: absolute;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.hero-main {
  display: flex;
  flex-direction: column;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 25px;
}
.main-h1 {
  margin-bottom: 18px;
  color: var(--dark-blue);
  font-size: 33px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  line-height: 45px;
}
.main-text {
  color: var(--Grayish-Blue);
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
}
.main-button {
  margin-top: 30px;
  padding: 19px 50px;
  color: var(--White);
  border-radius: 40px;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  border: none;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.hero-choose {
  background-color: var(--Very-Light-Gray);
  margin-top: 5em;
  padding: 100px 20px;
  text-align: center;
}
.choose-h1 {
  font-size: 42px;
  font-weight: 400;
  color: var(--dark-blue);
  padding-bottom: 40px;
}
.choose-text {
  color: var(--Grayish-Blue);
  text-align: center;
  line-height: 26px;
  padding: 0px 0px;
  font-size: 16px;
}
.option {
  margin-top: 60px;
}
.option-h1 {
  margin: 20px 0px;
  color: var(--dark-blue);
  font-weight: 400;
  font-size: 25px;
}
.options-text {
  font-size: 15px;
  color: var(--Grayish-Blue);
  padding: 0px 5px;
}
.hero-articles {
  text-align: center;
  padding: 80px 0px;
  padding-bottom: 10px;
}
.article-h1 {
  font-size: 42px;
  font-weight: 400;
  color: var(--dark-blue);
  /* padding-bottom: 40px; */
}
.articles {
  width: 100vw;
  padding: 40px 10px;
  text-align: left;
  background-color: var(--White);
}
.images-article {
  width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 20px 20px 0px 0px;
}
.bottom-article {
  padding: 20px 23px;
}
.author {
  font-size: 14px;
  color: var(--Grayish-Blue);
  padding: 15px 0px;
}
.name {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 18px;
  padding: 10px 0px;
}
.article-text {
  font-size: 15px;
  color: var(--Grayish-Blue);
  padding: 0px 0px;
  line-height: 23px;
}
footer {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px;
}
.foot-image {
  margin-bottom: 30px;
}
.links-foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.foot-link {
  text-decoration: none;
  color: var(--White);
  font-weight: 300;
  padding: 10px 0px;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}
.socials {
  margin-bottom: 30px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.social-images {
  padding: 0px 10px;
  width: 12%;
}
.foot {
  padding: 15px 40px;
}
.copyright {
  color: var(--Grayish-Blue);
  margin-top: 30px;
}
.nav-menu {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80vw;
  justify-content: center;
  align-items: center;
  left: 9%;
  top: 10%;
  border-radius: 10px;
  height: 35vh;
  box-shadow: 5px 6px 12px 0px rgba(45, 49, 77, 0.55);
  transform: translateY(-1000px);
  transition: all 1s ease-in-out;
}
.menu-links {
  text-decoration: none;
  color: var(--dark-blue);
  padding: 15px 0px;
}
.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-image: linear-gradient(#2d314d, transparent);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.open {
  transform: translateY(0px);
}
.display-open {
  visibility: visible;
  opacity: 1;
}
.display-close {
  display: none;
}
.overflow {
  overflow: hidden;
}
.mobile {
  display: block;
}
.desktop {
  display: none;
}
.first-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 645px) {
  .first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    justify-content: space-around;
  }
  .main-div {
    padding: 0px 50px;
    text-align: center;
  }
  .all-articles {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .articles {
    width: 50vw;
    padding: 0px 10px;
  }
  .images-article {
    width: 50vw;
    height: 36vh;
  }
  .bottom-article {
    padding: 0px 23px;
  }
  .social-images {
    width: 8%;
  }
  .bottom-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 740px) {
  .first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    justify-content: space-around;
  }
  .images {
    flex: 1;
    background-image: url(./images/bg-intro-desktop.svg);
    height: 130%;
    order: 2;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .images::before {
    top: 3rem;
  }
  .hero-main {
    width: 100vw;
    height: 40vh;
    flex-direction: row;
  }
  .main-div {
    order: 1;
    flex: 1;
    padding: 0;
  }
  .main-text {
    padding: 0px 20px;
  }
  .bottom-foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1230px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .nav-links-dk {
    display: flex;
    list-style: none;
  }
  .dk-a {
    padding: 20px 28px;
    color: var(--Grayish-Blue);
    text-decoration: none;
  }
  nav {
    width: 100vw;
    display: flex;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
  }
  .nav-btn {
    margin: 0px;
    padding: 14px 32px;
  }
  .main-div {
    text-align: left;
    align-items: flex-start;
    flex: 0.8;
  }
  .main-h1 {
    padding: 20px 53px;
    font-size: 40px;
    text-align: left;
  }
  .main-text {
    padding: 0px 58px;
    padding-right: 92px;
  }
  .main-button {
    margin-left: 57px;
  }
  .images {
    flex: 1.1;
    right: -8rem;
  }
  .images::before {
    top: -1rem;
    background-size: 100%;
  }
  .hero-main {
    height: 40.9375rem;
  }
  .hero-choose {
    display: flex;
    flex-direction: column;
  }
  .options {
    display: flex;
    gap: 40px;
  }
  .option-h1 {
    font-size: 31px;
    text-align: left;
  }
  .options-text {
    text-align: left;
  }
  .all-articles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .articles {
    width: 25vw;
  }
  .images-article {
    width: 25vw;
  }
  footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .first-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .socials {
    width: 30vw;
  }
  .social-images {
    width: 14%;
  }
  .links-foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 207px;
    row-gap: 21px;
  }
}
@media screen and (min-width: 1880px) {
  .images {
    top: -5rem;
    z-index: -3;
  }
  .images::before {
    background-size: 66%;
  }
  .main-div {
    padding-left: 110px;
  }
  .hero-choose {
    padding: 0px 151px;
  }
  .top {
    text-align: left;
  }
  .choose-h1 {
    padding-top: 48px;
  }
  .choose-text {
    text-align: left;
    font-size: 17px;
    padding-right: 55em;
    line-height: 40px;
  }
  .options {
    height: 45vh;
  }
  .option {
    margin-top: 60px;
  }
  .option-img {
    width: 30%;
  }
  .option-h1 {
    font-size: 36px;
    text-align: left;
  }
  .options-text {
    text-align: left;
    font-size: 16px;
    /* height: 47vh; */
    line-height: 44px;
  }
  .hero-articles {
    height: 89vh;
  }
  .top-articles {
    margin-bottom: 50px;
  }
  .author {
    font-size: 17px;
  }
  .name {
    font-size: 24px;
    padding: 10px 0px;
  }
  .article-text {
    font-size: 19px;
    padding: 3px 0px;
    line-height: 36px;
  }
  .main-text {
    font-size: 17px;
    line-height: 37px;
  }
  .social-images {
    width: 8%;
  }
}
.dk-a:hover {
  border-bottom: 3px solid var(--Lime-Green);
  cursor: pointer;
}
.main-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.name:hover {
  color: var(--Lime-Green);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.foot-link:hover {
  color: var(--Lime-Green);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
